{% extends 'mail/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 <p>Точно вы хотите удалить {{object.title}} ?</p>
                  <button type="submit" class="btn btn-primary">
                  Подтвердить
                  </button>
                  <a class="btn btn-success" href="{% url 'blog:post_list' %}" role='button'>
                  Отменить </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}