{% extends 'mail/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            {% for object in object_list %}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <div class="card-body">

                 <a class="p-2 btn btn-outline-primary" href='{% url "mailing:client_details" object.pk %}'>Подробнее
                 <a class="p-2 btn btn-outline-primary" href='{% url "mailing:client_update" object.pk %}'>Редактировать
                 <a class="p-2 btn btn-outline-primary" href='{% url "mailing:client_delete" object.pk %}'>Удалить
                </div>
             </div>
            {% endfor %}
            <a class ="p-2 btn btn-outline-primary" href='{% url 'mail:client_create' %}'>Добавить клиента</a>
        </div>

    </div>
{% endblock %}
