{% extends 'mail/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Журнал логов</h4>
                </div>
                <div class="card-body">
                   <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> Количество отправленных писем: {{ all }}</li>
                        <li> Количество успешно доставленных писем: {{ Success }}</li>
                        <li> Количество неуспешно отправленных писем: {{ Non-success }}</li>
                 </div>
            </div>
            {% endfor %}
        </div>
    </div>
<div>
{% endblock %}
