{% extends 'mail/base.html' %}
{% block content %}
{% for object in object_list %}
<div class="card">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ object }}</h4>
    </div>
    <div class="card-body">
        <div class="btn-group">
            <a href="{% url 'mail:mailing_details' object.pk %}">
                <button type="button" class="btn btn-sm btn-outline-primary">Подробнее</button>
            </a>
            <a href="{% url 'mail:mailing_update' object.pk %}">
                <button type="button" class="btn btn-sm btn-outline-primary">Редактировать</button>
            </a>
            <a href="{% url 'mail:mailing_delete' object.pk %}">
                <button type="button" class="btn btn-sm btn-outline-primary">Удалить</button>
            </a>
            {% if object.is_active %}
            <a class="p-2 btn btn-outline-danger" href='{% url "mail:mailing_activity" object.pk %}'>Деактивировать </a>
            {% else %}
            <a class="p-2 btn btn-outline-success" href='{% url "mail:mailing_activity" object.pk %}'>Активировать </a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
<div>
    <a class="p-2 btn btn-outline-primary" href='{% url "mail:mailing_create" %}'>Добавить рассылку</a>
</div>
{% endblock %}
