{% extends 'mail/base.html' %}
{% block content %}

<div class="container">
     <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                          Блокировка пользователя
                        <li>{{object.first_name}} {{object.last_name}} - {{object.email}};</li>
                          </div>
                    <div class="card-body">
                           {% csrf_token %}
                           {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                           Сохранить
                        </button>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>

     </form>
</div>
{% endblock %}
