{% extends 'mail/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        Информация о клиенте:</h4>
                </div>
                <div class="card-body">
                      <table class="table">
                             <tr>
                                <td>Фамилия, Имя: {{ object.first_name }} {{ object.last_name }}</td>
                             </tr>
                                <td> Телефон {{ object.phone_number }}</td>
                              <tr>
                                <td> Страна: {{ object.country }}</td>
                              </tr>
                             <tr>
                                <td>Емейл: {{ object.email }}</td>
                             </tr>
                            <tr>
                                <td>Аватар: {{ object.avatar | media_filter }}</td>
                             </tr>
                            <tr>
                                <td>Комментарий: {{ object.comment }}</td>
                             </tr>
                        </table>
                </div>
               <a class="p-2 btn btn-outline-primary" href='{% url "users:user_update" object.pk %}'>Редактировать
               <a class="p-2 btn btn-outline-primary" href='{% url "users:user_delete" object.pk %}'>Удалить
            </div>
            </div>
        </div>
    </div>
{% endblock %}
